@import "tailwindcss";

body.light {
  --background: #ffffff;
  --foreground: #171717;
  --header-bg: gray;
  --header-text: #171717;
}

body.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --header-bg: blue;
  --header-text: #ededed;
}

header {
  background-color: var(--header-bg);
  color: var(--header-text);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}